In [1]:
import numpy as np
import pandas as pd

In [9]:
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import scale
#from collections import counter

In [11]:
filename="D:\python\ML\enrollment_forecast.csv"
enroll=pd.read_csv(filename)

In [12]:
enroll.head()

   year  roll  unem  hgrad   inc
0     1  5501   8.1   9552  1923
1     2  5945   7.0   9680  1961
2     3  6629   7.3   9731  1979
3     4  7556   7.5  11666  2030
4     5  8716   7.0  14675  2112

In [15]:
enroll.corr()

           year      roll      unem     hgrad       inc
year   1.000000  0.900934  0.378305  0.670300  0.944287
roll   0.900934  1.000000  0.391344  0.890294  0.949876
unem   0.378305  0.391344  1.000000  0.177376  0.282310
hgrad  0.670300  0.890294  0.177376  1.000000  0.820089
inc    0.944287  0.949876  0.282310  0.820089  1.000000

In [16]:
X=

NameError: name 'X' is not defined

In [ ]:
X_train,X_test,y_train,y_test =train_test_