In [1]:
 list1 = [0.5 * x for x in range(0, 4)]

In [2]:
list1

[0.0, 0.5, 1.0, 1.5]

In [3]:
 list1.append(5)

In [4]:
list1

[0.0, 0.5, 1.0, 1.5, 5]

In [6]:
 listExample=[3, 4, 5, 20, 5, 25, 1, 3]

In [7]:
 listExample.pop(1)

4

In [8]:
list1

[0.0, 0.5, 1.0, 1.5, 5]

In [9]:
"Welcome to Python".split()

['Welcome', 'to', 'Python']

In [13]:
 myList = [1, 2, 3, 4, 5, 6]
for i in range(1, 6):
        myList[i - 1] = myList[i]
for i in range(0, 6):
        print(myList[i], end = " ")

2 3 4 5 6 6

In [19]:
def f(values):
    values[0] = 44
v = [1, 2, 3]
f(v)
print(v)

[44, 2, 3]

In [20]:
names1 = ['Amir', 'Bala', 'Charlie']
names2 = [name.lower() for name in names1]

print(names2[2][0])

c

In [21]:
m = [[x, x + 1, x + 2] for x in range(0, 3)]

In [22]:
m

[[0, 1, 2], [1, 2, 3], [2, 3, 4]]

In [23]:
m = [[x, y] for x in range(0, 4) for y in range(0, 4)]

In [24]:
m

[[0, 0],
 [0, 1],
 [0, 2],
 [0, 3],
 [1, 0],
 [1, 1],
 [1, 2],
 [1, 3],
 [2, 0],
 [2, 1],
 [2, 2],
 [2, 3],
 [3, 0],
 [3, 1],
 [3, 2],
 [3, 3]]

In [26]:
values = [[3, 4, 5, 1], [33, 6, 1, 2]]
v = values[0][0]
for row in range(0, len(values)):
    for column in range(0, len(values[row])):
        if v < values[row][column]:
            v = values[row][column]
print(v)

33

In [27]:
values = [[3, 4, 5, 1], [33, 6, 1, 2]]
v = values[0][0]
for lst in values:
    for element in lst:
        if v > element:
            v = element
print(v)

1

In [29]:
matrix = [[1, 2, 3, 4],[4, 5, 6, 7],[8, 9, 10, 11],[12, 13, 14, 15]]
for i in range(0, 4):
    print(matrix[i][1], end = " ")

2 5 9 13

In [36]:
data = [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
def ttt(m):
    v = m[0][0]
    for row in m:
        for element in row:
            if v < element:
                v = element
    return v
print(ttt(data[0]))

4

In [37]:
a=[1,2,3,4]
b=[sum(a[0:x+1]) for x in range(0,len(a))]
print(b)

[1, 3, 6, 10]

In [38]:
a="hello"
b=list((x.upper(),len(x)) for x in a)
print(b)

[('H', 1), ('E', 1), ('L', 1), ('L', 1), ('O', 1)]

In [39]:
a=[1,2,3]
b=a.append(4)
print(a)
print(b)

[1, 2, 3, 4]
None

In [40]:
a=list((45,)*4)
print((45)*4)
print(a)

180
[45, 45, 45, 45]

In [41]:
word1="Apple"
word2="Apple"
list1=[1,2,3]
list2=[1,2,3]
print(word1 is word2)
print(list1 is list2)

True
False

In [42]:
def unpack(a,b,c,d):
 print(a+d)
x = [1,2,3,4]
unpack(*x)

5

In [43]:
t=(1,2,4,3)
t[1:-1]

(2, 4)

In [44]:
t = (1, 2)
2 * t

(1, 2, 1, 2)

In [45]:
a=("Check")*3
a

'CheckCheckCheck'

In [46]:
a=(1,2,3,4)
del(a[2])

TypeError: 'tuple' object doesn't support item deletion

In [49]:
a={5,6,7}
a.add(5)
a

{5, 6, 7}

In [50]:
a={4,5,6}
b={2,8,6}
a+b

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [51]:
a={4,5,6}
b={2,8,6}
a-b

{4, 5}

In [53]:
s1={3, 4}
s2={1, 2}
s3=set()
i=0
j=0
for i in s1:
    for j in s2:
        s3.add((i,j))
        i+=1
        j+=1
print(s3)

{(4, 2), (3, 1), (4, 1), (5, 2)}

In [54]:
for x in range(0,4):
    print(x)

0
1
2
3

In [63]:
myList = [1, 2, 3, 4, 5, 6]
for i in range(1, 6):
    myList[i - 1] = myList[i]
for i in range(0, 6):
    print(myList[i], end = " ")

2 3 4 5 6 6

In [76]:
myList = [1, 2, 3, 4, 5, 6]
for i in range(1, 6):
    print(i)
    myList[i - 1]=myList[i]
print(myList)

1
2
3
4
5
[2, 3, 4, 5, 6, 6]

In [78]:
myList = [1, 2, 3, 4, 5, 6]
for i in range(1, 6):
    print(myList[i-1])

1
2
3
4
5

In [79]:
myList = [1, 2, 3, 4, 5, 6]
for i in range(1, 6):
    print(myList[i])

2
3
4
5
6

In [80]:
1=2
2=3
3=4
4=5
5=6

SyntaxError: can't assign to literal (<ipython-input-80-824e7d42e49d>, line 1)

In [86]:
for x in range(0, 3):
    print(x)

0
1
2

In [92]:
listExample=[3, 4, 5, 20, 5, 25, 1, 3]
listExample.pop(1)
print(listExample)

[3, 5, 20, 5, 25, 1, 3]

In [ ]:
for i in range(1,100):
    num=int(input("enter a number"))
    print(i)