In [1]:
### Import Libraries
import numpy as np
import pandas as pd

In [2]:
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import scale
from collections import Counter

In [3]:
filename = "C:\\Users\\rahul\\OneDrive\\BIZOP\\AFI Tech Bangalore\\\
TRAINING CONTENT\\enrollment_forecast.csv"
enroll = pd.read_csv(filename)
#enroll.columns = ['year','roll','unem','hgrad','inc']

In [4]:
enroll.head()

   year  roll  unem  hgrad   inc
0     1  5501   8.1   9552  1923
1     2  5945   7.0   9680  1961
2     3  6629   7.3   9731  1979
3     4  7556   7.5  11666  2030
4     5  8716   7.0  14675  2112

In [5]:
enroll.corr()

           year      roll      unem     hgrad       inc
year   1.000000  0.900934  0.378305  0.670300  0.944287
roll   0.900934  1.000000  0.391344  0.890294  0.949876
unem   0.378305  0.391344  1.000000  0.177376  0.282310
hgrad  0.670300  0.890294  0.177376  1.000000  0.820089
inc    0.944287  0.949876  0.282310  0.820089  1.000000

In [ ]:
### Predictable Vs Target variables, Scaling

In [6]:
X = enroll.iloc[:,:4]
y = enroll.iloc[:,4]

In [7]:
X

    year   roll  unem  hgrad
0      1   5501   8.1   9552
1      2   5945   7.0   9680
2      3   6629   7.3   9731
3      4   7556   7.5  11666
4      5   8716   7.0  14675
5      6   9369   6.4  15265
6      7   9920   6.5  15484
7      8  10167   6.4  15723
8      9  11084   6.3  16501
9     10  12504   7.7  16890
10    11  13746   8.2  17203
11    12  13656   7.5  17707
12    13  13850   7.4  18108
13    14  14145   8.2  18266
14    15  14888  10.1  19308
15    16  14991   9.2  18224
16    17  14836   7.7  18997
17    18  14478   5.7  19505
18    19  14539   6.5  19800
19    20  14395   7.5  19546
20    21  14599   7.3  19117
21    22  14969   9.2  18774
22    23  15107  10.1  17813
23    24  14831   7.5  17304
24    25  15081   8.8  16756
25    26  15127   9.1  16749
26    27  15856   8.8  16925
27    28  15938   7.8  17231
28    29  16081   7.0  16816

In [8]:
y

0     1923
1     1961
2     1979
3     2030
4     2112
5     2192
6     2235
7     2351
8     2411
9     2475
10    2524
11    2674
12    2833
13    2863
14    2839
15    2898
16    3123
17    3195
18    3239
19    3129
20    3100
21    3008
22    2983
23    3069
24    3151
25    3127
26    3179
27    3207
28    3345
Name: inc, dtype: int64

In [9]:
X,y = scale(X),y

In [10]:
X

array([[-1.67332005, -2.25366052,  0.34682081, -2.42562243],
       [-1.55379719, -2.11480116, -0.64989846, -2.38111647],
       [-1.43427433, -1.90088271, -0.37806593, -2.36338363],
       [-1.31475147, -1.6109669 , -0.19684425, -1.69057879],
       [-1.19522861, -1.24818121, -0.64989846, -0.64434118],
       [-1.07570575, -1.04395788, -1.19356352, -0.43919655],
       [-0.95618289, -0.87163468, -1.10295268, -0.36304964],
       [-0.83666003, -0.79438635, -1.19356352, -0.27994868],
       [-0.71713717, -0.50759801, -1.28417436, -0.00943593],
       [-0.5976143 , -0.06349828, -0.01562256,  0.12582044],
       [-0.47809144,  0.32493261,  0.43743166,  0.23465141],
       [-0.35856858,  0.29678544, -0.19684425,  0.4098936 ],
       [-0.23904572,  0.35745822, -0.28745509,  0.5493224 ],
       [-0.11952286,  0.44971837,  0.43743166,  0.60425944],
       [ 0.        ,  0.68208886,  2.15903768,  0.96656572],
       [ 0.11952286,  0.71430173,  1.34354009,  0.58965593],
       [ 0.23904572,  0.66582606, -0.01562256,  0.85843016],
       [ 0.35856858,  0.55386289, -1.82783942,  1.03506316],
       [ 0.47809144,  0.57294041, -1.10295268,  1.13763548],
       [ 0.5976143 ,  0.52790495, -0.19684425,  1.04931898],
       [ 0.71713717,  0.59170519, -0.37806593,  0.90015449],
       [ 0.83666003,  0.70742131,  1.34354009,  0.78089244],
       [ 0.95618289,  0.7505803 ,  2.15903768,  0.44675009],
       [ 1.07570575,  0.66426233, -0.19684425,  0.26976938],
       [ 1.19522861,  0.7424489 ,  0.98109672,  0.07922827],
       [ 1.31475147,  0.75683523,  1.25292925,  0.07679435],
       [ 1.43427433,  0.98482727,  0.98109672,  0.13799004],
       [ 1.55379719,  1.01047246,  0.07498828,  0.24438708],
       [ 1.67332005,  1.05519518, -0.64989846,  0.10009044]])

In [11]:
y

0     1923
1     1961
2     1979
3     2030
4     2112
5     2192
6     2235
7     2351
8     2411
9     2475
10    2524
11    2674
12    2833
13    2863
14    2839
15    2898
16    3123
17    3195
18    3239
19    3129
20    3100
21    3008
22    2983
23    3069
24    3151
25    3127
26    3179
27    3207
28    3345
Name: inc, dtype: int64

### Linear Regression Modelling

In [12]:
X_train, X_test , y_train , y_test = train_test_split(X,y,test_size=0.30,random_state=150)

In [13]:
lr_mod = LinearRegression()
lr_mod.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [14]:
lr_mod.score(X_train,y_train)

0.9615687637665727

In [19]:
y_pred = lr_mod.predict(X_test)

In [20]:
results=pd.DataFrame({'Actual':y_test, 'Predicted':y_pred})  
results

    Actual    Predicted
6     2235  2366.610580
10    2524  2664.001331
0     1923  1706.891227
2     1979  1855.638199
21    3008  3063.934689
7     2351  2420.047526
17    3195  3080.813525
24    3151  3099.605244
20    3100  3100.608437

In [21]:
# RMSE by Pandas
((results.Actual - results.Predicted) ** 2).mean() ** .5

116.62830092610676

In [22]:
# RMSE by Numpy
(np.diff(results.values) ** 2).mean() ** .5

116.62830092610676