# Bubble Sort

In [ ]:
def bs(arr):
    n=len(arr)
    print(n)
    for i in range(n):
        #print(i)
        for j in range(0,n-i-1):
            #print(j)
            if arr[j]>arr[j+1]:
                arr[j],arr[j+1]=arr[j+1],arr[j]
arr=[30,0,10,90,40,30]
bs(arr)
print(arr)

In [ ]:
for i in range(0, 5):
    for j in range(0, i+1):
        print("* ",end="")
    print()

In [ ]:
str="hello"
str[:4]

In [ ]:
str="hello"
str[4:]

In [ ]:
def example(a):
    return a
example("hello")

In [ ]:
print(3**1*3)

In [ ]:
list1 = [0.5 * x for x in range(0, 4)]
print(list1)

In [ ]:
"Welcome to Python".split()

In [ ]:
"hi Joel".split()

In [ ]:
myList = [1, 2, 3, 4, 5, 6]
for i in range(1, 6):
    myList[i - 1] = myList[i]
    
for i in range(0, 6):
    print(myList[i], end = " ")

# List

In [6]:
a="Joel"
list(a)

['J', 'o', 'e', 'l']

In [7]:
list(a[1])

['o']

In [8]:
b="Raghu"
list(a+b)

['J', 'o', 'e', 'l', 'R', 'a', 'g', 'h', 'u']

In [12]:
a[::-1]

'leoJ'

In [13]:
a[1:]

'oel'

In [14]:
a[:1]

'J'

In [15]:
a[1:3]

'oe'

In [16]:
a[3:1]

''

In [18]:
a[::1]

'Joel'

In [21]:
a[:2:2]

'J'

In [29]:
c=[1,3,4]
c.append(5)
c

[1, 3, 4, 5]

In [30]:
c.count(3)

1

In [2]:
d=[3,1,2,4]
d.reverse()

In [6]:
d=[3,1,2,4]
d.sort()

# Tuple

In [9]:
a=(1,2,3,4)
max(a)

4

In [13]:
list(a)

[1, 2, 3, 4]

In [14]:
min(a)

1

In [16]:
a[1:4]

(2, 3, 4)

In [23]:
type(a)

tuple

# LIST COMPREHENSION

In [31]:
A = [a for a in range(20) if a % 2 == 0]
print(A)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [32]:
B = [b for b in range(20) if b % 3 == 0]
print(B)

[0, 3, 6, 9, 12, 15, 18]

In [33]:
C = [c for c in range(20) if c in A and c in B]
print(C)

[0, 6, 12, 18]

In [34]:
D=[a+b for a in A for b in B]
print(D)

[0, 3, 6, 9, 12, 15, 18, 2, 5, 8, 11, 14, 17, 20, 4, 7, 10, 13, 16, 19, 22, 6, 9, 12, 15, 18, 21, 24, 8, 11, 14, 17, 20, 23, 26, 10, 13, 16, 19, 22, 25, 28, 12, 15, 18, 21, 24, 27, 30, 14, 17, 20, 23, 26, 29, 32, 16, 19, 22, 25, 28, 31, 34, 18, 21, 24, 27, 30, 33, 36]

# Dict Comprehension

In [36]:
# Create a set comprehension for all x in 0...9 for the function f(x)=x^2
f = {x: x**2 for x in range(10)}

# Display the result
print(f)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

# Map/Filter Lambda functions

In [37]:
# Compute the lists
U = map(lambda x: x ** 2, [i for i in range(5)])
V = [i ** 2 for i in range(5)]

# Show the results
print('U: ', list(U))
print('V: ', V)0

U:  [0, 1, 4, 9, 16]
V:  [0, 1, 4, 9, 16]

# Lambda

In [51]:
add = lambda x, y : x + y 
print(add(5,9))

14

In [ ]:
# MAP

In [71]:
list_a = [1, 2, 3]
list_b = [10, 20, 30]
  
z=map(lambda x, y: x + y, list_a, list_b) 
m=list(z)
print(m)

[11, 22, 33]

In [74]:
a = [1, 2, 3, 4, 5, 6]
o=filter(lambda x : x % 2 == 0, a) 
ev=list(o)
print(ev)

[2, 4, 6]

In [76]:
import numpy as np

In [90]:
x = np.array([5, 6, 7, 8, 9])
x[:4]

array([5, 6, 7, 8])

In [94]:
import numpy as np

x=np.array([[1,2],[3,4],[5,6]])
y=np.array([[7,8],[9,10],[11,12]])
#print(x+y)
print(np.add(x,y))

[[ 8 10]
 [12 14]
 [16 18]]